<div class="biolife-vertical-menu none-box-shadow  ">
  <div class="vertical-menu vertical-category-block always ">
    <div class="block-title">
      <span class="menu-icon">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
      </span>
      <span class="menu-title"></span>

    </div>
    <div class="wrap-menu">
      <ul class="menu clone-main-menu">
        <li class="menu-item"><a [routerLink]="['/administrador/contenido']" class="menu-name" data-title="Ocean Foods"><i class="fa fa-sitemap"
              style="font-size: 25px; padding-right: 10px;"></i>Módulos</a></li>
        <li class="menu-item"><a [routerLink]="['/administrador/productos']" class="menu-title"><i class="fa fa-shopping-cart"
              style="font-size: 25px; padding-right: 10px;"></i>Productos</a></li>
        <li class="menu-item"><a [routerLink]="['/administrador/usuarios']" class="menu-title"><i class="fa fa-users"
              style="font-size: 23px; padding-right: 10px;"></i>Usuarios</a></li>
      </ul>
    </div>
  </div>
</div>