<app-menu [fmrMenu]="fmrDatos.fmrMenu"></app-menu>
<br>
<div class="page-contain">
  <div id="main-content" class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
          <app-modulos></app-modulos>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12">
          <div style="min-height: 600px !important; border-radius: 15px; border: 1px solid #ddd; padding: 25px;">
            <h4><b>Productos</b></h4>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" data-toggle="modal" data-target="#AddProducto">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Agregar
                </button>
                <br><br>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th><b>#</b></th>
                        <th><b>SKU</b></th>
                        <th><b>Nombre</b></th>
                        <th><b>Precio</b></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let dato_ of lstProductos">
                        <td>{{ dato_.idProducto }}</td>
                        <td>{{ dato_.sku }}</td>
                        <td>{{ dato_.nombre }}</td>
                        <td>$ {{ dato_.precio }}</td>
                        <td>
                          <button class="btn btn-warning" data-toggle="modal" data-target="#AddProducto"
                            (click)="datosModificar(dato_)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="lstProductos.length == 0">
                        <td colspan="5">Sin registros</td>
                      </tr>
                    </tbody>
                  </table>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<app-footer [fmrFooter]="fmrDatos.fmrFooter"></app-footer>


<div class="modal fade" id="AddProducto" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Gestión Producto</h4>
      </div>
      <div class="modal-body">
        <div style="border-radius: 5px; border: 1px solid #ddd; padding: 20px;">
          <p class="form-row" style="display: none;">
            <b>#</b><br>
            <input type="text" class="txt-input" [(ngModel)]="fmrProducto.idProducto" style="width: 100%;">
          </p>
          <p class="form-row">
            <b>SKU</b><br>
            <input type="text" class="txt-input" [(ngModel)]="fmrProducto.sku" style="width: 100%;">
          </p>
          <p class="form-row">
            <b>Nombre</b><br>
            <input type="text" class="txt-input" [(ngModel)]="fmrProducto.nombre" style="width: 100%;">
          </p>
          <p class="form-row">
            <b>Descripción</b><br>
            <textarea class="txt-input" [(ngModel)]="fmrProducto.descripcion" style="width: 100%;" cols="30"
            rows="10"></textarea>
          </p>

          <div class="form-row">
            <b>Imagen</b><br>
            <img *ngIf="fmrProducto.imagen != ''" [src]="fmrProducto.imagen" alt="" width="150">
            <div *ngIf="fmrProducto.imagen != ''"><br></div>
            <input type="file" id="ImagenProducto" (change)="obtenerImagen()" class="txt-input" style="width: 100%;">
          </div>

          <p class="form-row">
            <b>Precio</b><br>
            <input type="number" class="txt-input" [(ngModel)]="fmrProducto.precio" style="width: 100%;">
          </p>
          <p class="form-row">
            <b>Tipo</b><br>
            <input type="text" class="txt-input" [(ngModel)]="fmrProducto.tipo" style="width: 100%;">
          </p>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="guardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>
